.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 28, 49, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.modal-content {
  background-color: var(--btg-background);
  padding: 24px;
  border-radius: 8px;
  min-width: 400px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--btg-border);
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--btg-blue-dark);
}

.modal-close-button {
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: 300;
  color: #aaa;
  cursor: pointer;
  padding: 0 5px;
  line-height: 1;
}
.modal-close-button:hover {
  color: var(--btg-text-dark);
}

.modal-body form div {
  margin-bottom: 0;
}

.modal-body form label {
  display: block;
  margin-bottom: 5px;
}
/* .modal-body form label,
.modal-body form input,
.modal-body form select,
.modal-body form button {
  width: auto;
  padding: 0;
  background-color: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  margin-right: 0;
} */
